.container {
    display: flex;
    border: 1px solid #dbdbdb;
    margin: 60px 100px 50px 100px;
    padding: 60px 40px 60px 40px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 5px #dbdbdb;
    background: #FEFCF3;
}

.left-content {
    display: inline-block;
    text-align: left;
    margin-right: 0;
}

.left-content p {
    text-align: justify;
    padding-bottom: 50px;
}

.content-dalem {
    display: flex;
}

.contact-dalem a{
    text-decoration: none;
    border-radius: 50px;
    background-color: #000040;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}

.contact-dalem p{
    display: inline;
    margin-left: 25px;
}

.contact-dalem a:hover{
    color: #E1CEB5;
}
.download{
    display: flex;
    padding-left: 50px;
    padding-bottom: 80px;
    margin: -22px;
    margin-left: 200px;
}

.icon{
    display: flex;
}

.icon ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
    background-color: black;
    border-radius: 40px;
    text-decoration: none;
    margin-left: 15px;
}

.icon ul li a{
    text-decoration: none;
    color: white;
}

.icon ul li a:hover{
    color: #E1CEB5;
}

.right-content{
    display: flex;
    margin-right: 10%;
    margin-left: 5%;
    padding-left: 20px;
}

.right-content img{
    display: flex;
    width: 240px;
    height: 400px;
    padding-bottom: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px #dbdbdb;
}


.note {
    display: flex;
    text-align: center;
    margin-left: -165px;
    margin-top: 400px;
}

.note h6{
    text-align: center;
    padding-top: 30px;
    padding-left: -50px;
    margin-left: -75px;
}
